# Copia este archivo como .env y completa los valores

# URI de MongoDB Atlas
MONGODB_URI=mongodb://THA:tha123@ac-ytxbucx-shard-00-00.zbrdfdk.mongodb.net:27017,ac-ytxbucx-shard-00-01.zbrdfdk.mongodb.net:27017,ac-ytxbucx-shard-00-02.zbrdfdk.mongodb.net:27017/?ssl=true&replicaSet=atlas-jbqz0a-shard-0&authSource=admin&appName=proyectofinal

# Puerto del servidor (Render lo asigna automáticamente)
PORT=3000

# Nombre de la base de datos
DB_NAME=hospital_clinica
